* {
  padding: 0;
  margin: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background: #111 url('../img/bg.jpeg');
  overflow-x: hidden;
}

select {
  text-align-last: center;
  text-align: center;
}

.navbar {
  background: #996600;
  padding: 15px;
  height: 40px;
  color: #ffeecc;
}

.navbar h1 {
  text-align: center;
}

.top-container {
  width: 500px;
  margin: 30px auto;
}

.btn {
  display: block;
  width: 100%;
  padding: 10px;
  margin-bottom: 5px;
}

.btn-dark {
  background: #996600;
  color: #ffeecc;
  border: #664400 2px solid;
  border-radius: 2px;
}

.btn-light {
  background: #ffdd99;
  color: #664400;
  border: #996600 2px solid;
  border-radius: 2px;
}

.filter-select {
  height: 40px;
  background: #996600;
  color: #ffeecc;
  border: #664400 2px solid;
  border-radius: 2px;
  display: block;
  width: 100%;
  padding: 10px;
  margin-bottom: 5px;
}

.bottom-container {
  max-width: 960px;
  margin: auto;
  padding: 10px;
}

#photos {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
}

#photos img {
  width: 100%;
  border: #664400 3px solid;
}

#canvas {
  display: none;
}